// https://firebase.google.com/docs/firestore/security/rules-structure?authuser=0#granular_operations
// https://firebase.google.com/docs/reference/rules/rules.MapDiff
// get, list; create, update, delete
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // all
    match /{document=**} {
      allow read, write: if false;
    }

    // general
    function isAOrB(data) {
      return data.A == request.auth.uid || data.B == request.auth.uid;
    }

    // users
    function meetingConsistent() {
      let meeting = getAfter(/databases/$(database)/documents/meetings/$(request.resource.data.meeting));
      let updatingOwnAsB = meeting.data.B == request.auth.uid && request.auth.uid == userId;
      let updatingA = meeting.data.A == userId;
      return meeting.data.status == "INIT" && (updatingOwnAsB || updatingA);
    }
    match /users/{userId} {
      // any logged in user can read
      allow read: if request.auth != null;
      
      // only self user can write
      // resource.data.meeting != null to avoid heartbeats of users that do not exist anymore
      allow create: if request.auth != null && request.auth.uid == userId && request.resource.data.keys().toSet() == ['status', 'meeting', 'bio', 'name', 'rating', 'numRatings', 'heartbeat', 'tags'].toSet();
      allow update: if request.auth != null && request.auth.uid == userId && resource.data.keys().hasAll(['status', 'meeting', 'bio', 'name', 'rating', 'numRatings', 'heartbeat', 'tags']);

      // TODO to secure more, add bid to user (null or current bid). then rules can check for bid existance and consistency
      allow update: if request.auth != null && resource.data.meeting == null && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['meeting']);// && meetingConsistent();
    }

    match /users/{userId}/private/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // bids
    // bidId matches across bidIn and bidOut
    match /users/{userId}/bidOuts/{bidId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId && request.resource.data.B != userId && request.resource.data.active == true && request.resource.data.keys().toSet() == ['B', 'speed', 'net', 'active'].toSet();
      allow update: if request.auth != null && request.auth.uid == userId && request.resource.data.active == false && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['active']);
    }
    match /users/{userId}/bidIns/{bidId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid != userId && request.resource.data.active == true && request.resource.data.keys().toSet() == ['speed', 'net', 'active'].toSet();
      allow update: if request.auth != null && request.resource.data.active == false && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['active']) && request.auth.uid == get(/databases/$(database)/documents/users/$(userId)/bidIns/$(bidId)/private/main).data.A;
    }
    match /users/{userId}/bidIns/{bidId}/private/main {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.resource.data.A == request.auth.uid && request.resource.data.keys().toSet() == ['A', 'addrA', 'comment'].toSet();
    }

    // meeting
    match /meetings/{meetingId} {
      allow read: if request.auth != null && isAOrB(resource.data);
    }
    // the following allows spamming by an attacker
    // possible solution: make meetId include A and B
    match /meetings/{meetingId}/{subCollectionId}/{document=**} {
      allow read, write: if request.auth != null && subCollectionId.matches('.*' + request.auth.uid + '.*');
    }

    // update meeting
    function isEndReason() {
      return request.resource.data.status == 'END_TIMER' || 
             request.resource.data.status == 'END_A' || 
             request.resource.data.status == 'END_B' || 
             request.resource.data.status == 'END_TXN_FAILED' || 
             request.resource.data.status == 'END_DISCONNECT';
    }
    function alreadyEnded() {
      return resource.data.status.matches('END_*');
    }
    function isCorrectEndPath() {
      return (request.resource.data.status == 'END_TIMER' && (resource.data.status == 'INIT' || resource.data.status == 'TXN_CREATED' || resource.data.status == 'CALL_STARTED')) ||
             (request.resource.data.status == 'END_A' && request.auth.uid == resource.data.A && (resource.data.status == 'INIT' || resource.data.status == 'CALL_STARTED')) ||
             (request.resource.data.status == 'END_B' && request.auth.uid == resource.data.B && (resource.data.status == 'INIT' || resource.data.status == 'CALL_STARTED')) ||
             (request.resource.data.status == 'END_TXN_FAILED' && (resource.data.status == 'TXN_SIGNED' || resource.data.status == 'TXN_SENT' || resource.data.status == 'TXN_CREATED'))
    }
    function hasCorrectFieldsForEnd() {
      let k = request.resource.data.diff(resource.data).affectedKeys();
      return k.hasAll(['status', 'statusHistory', 'isActive', 'end']) &&
            k.hasOnly(['status', 'statusHistory', 'isActive', 'end', 'duration']);
    }
    function isEnd() {
      return !alreadyEnded() && isEndReason() && isCorrectEndPath() && hasCorrectFieldsForEnd();
    }
    function isAdvance() {
      let k = request.resource.data.diff(resource.data).affectedKeys();
      return (request.resource.data.status == 'ACCEPTED' && request.auth.uid == resource.data.A && resource.data.status == 'INIT' && k.hasOnly(['status', 'statusHistory'])) ||
             (request.resource.data.status == 'TXN_CONFIRMED' && request.auth.uid == resource.data.A && resource.data.status == 'INIT' && resource.data.speed.num == 0 && k.hasOnly(['status', 'statusHistory'])) ||
             (request.resource.data.status == 'TXN_CREATED' && request.auth.uid == resource.data.A && resource.data.status == 'ACCEPTED' && k.hasOnly(['status', 'statusHistory'])) ||
             (request.resource.data.status == 'TXN_SIGNED' && request.auth.uid == resource.data.A && resource.data.status == 'TXN_CREATED' && k.hasOnly(['status', 'statusHistory'])) ||
             (request.resource.data.status == 'TXN_SENT' && request.auth.uid == resource.data.A && resource.data.status == 'TXN_SIGNED' && k.hasAll(['status', 'statusHistory', 'txns'])) ||
             (request.resource.data.status == 'TXN_CONFIRMED' && resource.data.status == 'TXN_SENT' && k.hasAll(['status', 'statusHistory', 'budget'])) ||
             (request.resource.data.status == 'ROOM_CREATED' && request.auth.uid == resource.data.A && resource.data.status == 'TXN_CONFIRMED' && k.hasAll(['status', 'statusHistory', 'room'])) ||
             (request.resource.data.status == 'A_RECEIVED_REMOTE' && request.auth.uid == resource.data.A && (resource.data.status == 'ROOM_CREATED' || resource.data.status == 'B_RECEIVED_REMOTE')) ||
             (request.resource.data.status == 'B_RECEIVED_REMOTE' && request.auth.uid == resource.data.B && (resource.data.status == 'ROOM_CREATED' || resource.data.status == 'A_RECEIVED_REMOTE'));
    }
    match /meetings/{meetingId} {
      allow update: if request.auth != null && isAOrB(resource.data) && (isEnd() || isAdvance());
    }

    // create meeting
    function hasCorrectFieldsForCreate() {
      return request.resource.data.keys().toSet() == ['isActive', 'isSettled', 'A', 'B', 'addrA', 'addrB', 'budget', 'start', 'end', 'duration', 'txns', 'status', 'statusHistory', 'net', 'speed', 'bid', 'room', 'coinFlowsA', 'coinFlowsB'].toSet();
    }
    function hasCorrectValuesForCreate() {
      return request.auth.uid == request.resource.data.B &&
             request.resource.data.isActive &&
             !request.resource.data.isSettled &&
             ((request.resource.data.speed.num == 0 && request.resource.data.budget == 0) || request.resource.data.budget == null) &&
             request.resource.data.start == null &&
             request.resource.data.end == null &&
             request.resource.data.duration == null &&
             request.resource.data.status == "INIT" &&
             request.resource.data.net != null &&
             request.resource.data.speed != null &&
             request.resource.data.bid != null &&
             request.resource.data.room == null;
    }
    function bidsExistForCreate() {
      let bidOut = get(/databases/$(database)/documents/users/$(request.resource.data.A)/bidOuts/$(request.resource.data.bid));
      let bidInPrivate = get(/databases/$(database)/documents/users/$(request.resource.data.B)/bidIns/$(request.resource.data.bid)/private/main);
      return bidOut.data.B == request.auth.uid  && bidInPrivate.data.A == request.resource.data.A;
    }
    match /meetings/{meetingId} {
      allow create: if request.auth != null && hasCorrectFieldsForCreate() && hasCorrectValuesForCreate() && bidsExistForCreate();
    }

    // ratings
    // a user could spam and create multiple ratings for the same meeting
    // they could have easily created the same correct one from the beginning
    // TODO: how to mitigate that?
    match /users/{userId}/ratings/{meetingId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid != userId && request.resource.data.keys().toSet() == ['rating', 'comment'].toSet() && isAOrB(get(/databases/$(database)/documents/meetings/$(meetingId)).data);
    }
  }
}