// https://firebase.google.com/docs/firestore/security/rules-structure?authuser=0#granular_operations
// https://firebase.google.com/docs/reference/rules/rules.MapDiff
// get, list; create, update, delete
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // all
    match /{document=**} {
      allow read, write: if false;
    }

    // general
    function isAOrB(data) {
      return data.A == request.auth.uid || data.B == request.auth.uid;
    }

    // users
    match /users/{userId} {
      // any logged in user can read
      allow read: if request.auth != null;
      
      // only self user can write
      // resource.data.meeting != null to avoid heartbeats of users that do not exist anymore
      allow write: if request.auth != null && request.auth.uid == userId && resource.data.keys().hasAll(['status', 'meeting', 'bio', 'name', 'rating', 'numRatings', 'heartbeat', 'tags']);

    }

    match /users/{userId}/private/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // bids
    // bidId matches across bidIn and bidOut
    match /users/{userId}/bidOuts/{bidId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId && request.resource.data.B != userId && request.resource.data.active == true && request.resource.data.keys().toSet() == ['B', 'speed', 'net', 'active'].toSet();
      allow update: if request.auth != null && request.auth.uid == userId && request.resource.data.active == false && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['active']);
    }
    match /users/{userId}/bidIns/{bidId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid != userId && request.resource.data.active == true && request.resource.data.keys().toSet() == ['speed', 'net', 'active'].toSet();
      allow update: if request.auth != null && request.resource.data.active == false && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['active']) && request.auth.uid == get(/databases/$(database)/documents/users/$(userId)/bidIns/$(bidId)/private/main).data.A;
    }
    match /users/{userId}/bidIns/{bidId}/private/main {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.resource.data.A == request.auth.uid && request.resource.data.keys().toSet() == ['A', 'addrA', 'comment'].toSet();
    }

    // meeting
    match /meetings/{meetingId} {
      allow read: if request.auth != null && isAOrB(resource.data);
    }
    // the following allows spamming by an attacker
    // possible solution: make meetId include A and B
    match /meetings/{meetingId}/{subCollectionId}/{document=**} {
      allow read, write: if request.auth != null && subCollectionId.matches('.*' + request.auth.uid + '.*');
    }

    // end meeting
    function isEndReason() {
      return request.resource.data.status == 'END_TIMER' || 
             request.resource.data.status == 'END_A' || 
             request.resource.data.status == 'END_B' || 
             request.resource.data.status == 'END_TXN_FAILED' || 
             request.resource.data.status == 'END_DISCONNECT';
    }
    function alreadyEnded() {
      return resource.data.status.matches('END_*');
    }
    function isCorrectEndPath() {
      return (request.resource.data.status == 'END_TIMER' && (resource.data.status == 'INIT' || resource.data.status == 'TXN_CREATED' || resource.data.status == 'CALL_STARTED')) ||
             (request.resource.data.status == 'END_A' && request.auth.uid == resource.data.A && (resource.data.status == 'INIT' || resource.data.status == 'CALL_STARTED')) ||
             (request.resource.data.status == 'END_B' && request.auth.uid == resource.data.B && (resource.data.status == 'INIT' || resource.data.status == 'CALL_STARTED')) ||
             (request.resource.data.status == 'END_TXN_FAILED' && resource.data.status == 'TXN_SENT')
    }
    function hasCorrectFieldsForEnd() {
      let k = request.resource.data.diff(resource.data).affectedKeys();
      return k.hasAll(['status', 'statusHistory', 'isActive', 'end']) &&
            k.hasOnly(['status', 'statusHistory', 'isActive', 'end', 'duration']);
    }
    function isEnd() {
      return !alreadyEnded() && isEndReason() && isCorrectEndPath() && hasCorrectFieldsForEnd();
    }
    function isAdvance() {
      let k = request.resource.data.diff(resource.data).affectedKeys();
      return (request.resource.data.status == 'ACCEPTED' && request.auth.uid == resource.data.A && resource.data.status == 'INIT' && k.hasOnly(['status', 'statusHistory'])) ||
             (request.resource.data.status == 'TXN_CONFIRMED' && request.auth.uid == resource.data.A && resource.data.status == 'INIT' && resource.data.speed.num == 0 && k.hasOnly(['status', 'statusHistory'])) ||
             (request.resource.data.status == 'TXN_CREATED' && request.auth.uid == resource.data.A && resource.data.status == 'ACCEPTED' && k.hasOnly(['status', 'statusHistory'])) ||
             (request.resource.data.status == 'TXN_SIGNED' && request.auth.uid == resource.data.A && resource.data.status == 'TXN_CREATED' && k.hasOnly(['status', 'statusHistory'])) ||
             (request.resource.data.status == 'TXN_SENT' && request.auth.uid == resource.data.A && resource.data.status == 'TXN_SIGNED' && k.hasAll(['status', 'statusHistory', 'txns'])) ||
             (request.resource.data.status == 'TXN_CONFIRMED' && resource.data.status == 'TXN_SENT' && k.hasAll(['status', 'statusHistory', 'budget'])) ||
             (request.resource.data.status == 'ROOM_CREATED' && request.auth.uid == resource.data.A && resource.data.status == 'TXN_CONFIRMED' && k.hasAll(['status', 'statusHistory', 'room'])) ||
             (request.resource.data.status == 'A_RECEIVED_REMOTE' && request.auth.uid == resource.data.A && (resource.data.status == 'ROOM_CREATED' || resource.data.status == 'B_RECEIVED_REMOTE')) ||
             (request.resource.data.status == 'B_RECEIVED_REMOTE' && request.auth.uid == resource.data.B && (resource.data.status == 'ROOM_CREATED' || resource.data.status == 'A_RECEIVED_REMOTE'));
    }
    match /meetings/{meetingId} {
      allow update: if request.auth != null && isAOrB(resource.data) && (isEnd() || isAdvance());
    }

    // ratings
    // a user could spam and create multiple ratings for the same meeting
    // they could have easily created the same correct one from the beginning
    // TODO: how to mitigate that?
    match /users/{userId}/ratings/{meetingId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.auth.uid != userId && request.resource.data.keys().toSet() == ['rating', 'comment'].toSet() && isAOrB(get(/databases/$(database)/documents/meetings/$(meetingId)).data);
    }
  }
}